@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

body {
  background-color: #8bc6ec;
  background-image: linear-gradient(90deg, #8bc6ec 0%, #9599e2 100%);
  margin: 0;
  padding: 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 0;
}

.calculator-grid button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 /-1;
  background-color: #24275e;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand{
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand{
  color: white;
  font-size: 2.5rem;
}

